@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'avigea';
    src: url('./assets/fonts/Avigea.otf');
}

@font-face {
    font-family: 'creatobold';
    src: url('./assets/fonts/coolvetica-rg.otf');

}

@font-face {
    font-family: 'creato';
    src: url('./assets/fonts/coolvetica-rg.otf');
}

body{
    overflow-x: hidden;
    background: #191919;
    /* margin-bottom: 20px; */
}